In [70]:
import pandas as pd
from scipy import stats 
import pingouin as pg
from statsmodels.stats.multicomp import (pairwise_tukeyhsd,
                                         MultiComparison)

In [2]:
groups = pd.read_csv("C:/Users/Qwerty/ANALYSIS/my_hub/STATISTICS/data_folder/food_delivery (1).csv")
groups.head()

      id group  events
0  16046     A      14
1  18712     A      41
2   3268     A      30
3  22633     A      37
4  28071     A      38

In [3]:
segment = pd.read_csv("C:/Users/Qwerty/ANALYSIS/my_hub/STATISTICS/data_folder/food_delivery (2).csv")
segment.head()

      id group segment  events
0  83440  test    high    78.0
1  96723  test    high    71.0
2  68719  test    high    80.0
3  50399  test    high    80.0
4  95613  test    high    78.0

In [4]:
groups.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      30000 non-null  int64
 1   group   30000 non-null  object
 2   events  30000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 703.2+ KB

In [5]:
segment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  int64
 1   group    100000 non-null  object
 2   segment  100000 non-null  object
 3   events   100000 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 3.1+ MB

In [6]:
segment.describe()

                  id         events
count  100000.000000  100000.000000
mean    49999.500000      34.213930
std     28867.657797      17.585193
min         0.000000       4.000000
25%     24999.750000      21.000000
50%     49999.500000      29.000000
75%     74999.250000      40.000000
max     99999.000000     102.000000

In [8]:
groups.group.value_counts()

A    10000
B    10000
C    10000
Name: group, dtype: int64

In [52]:
# Sampling before normality test

In [54]:
A = groups[groups['group'] == "A"]['events'].sample(1000, random_state=17)
B = groups[groups['group'] == "B"]['events'].sample(1000, random_state=17)
C = groups.query("group == 'C'").events.sample(1000, random_state=17)

In [49]:
# 1st normality test

In [55]:
# 1 - scipy 

print(stats.normaltest(A))
print(stats.normaltest(B))
print(stats.normaltest(C))

NormaltestResult(statistic=0.6421907772748111, pvalue=0.7253540571548922)
NormaltestResult(statistic=0.7993452547417171, pvalue=0.6705395263954472)
NormaltestResult(statistic=1.5761199866762348, pvalue=0.4547261118122219)

In [56]:
# 2 - pingouin

pg.normality(data=groups, dv="events", group="group", method="normaltest")

              W      pval  normal
group
A      2.103460  0.349333    True
B      0.841072  0.656695    True
C      3.243726  0.197530    True

In [ ]:
# Are variances within groups similar? (homogeneity test)

In [58]:
a = groups[groups['group'] == "A"]['events']
b = groups[groups['group'] == "B"]['events']
c = groups.query("group == 'C'").events

In [59]:
# 1 - scipy

stats.levene(a, b, c)

LeveneResult(statistic=2.2622596339318037, pvalue=0.1041327199523974)

In [60]:
# 2 - pingouin

pg.homoscedasticity(data=groups, dv="events", group="group")

              W      pval  equal_var
levene  2.26226  0.104133       True

In [61]:
pg.welch_anova(data=groups, dv="events", between="group")

  Source  ddof1         ddof2            F  p-unc       np2
0  group      2  19996.209267  2924.792424    0.0  0.161377

In [62]:
# We may assume variances are different
# -------------------------------------

In [63]:
# To compare means use one-way analysis of variance (one-way ANOVA)

In [64]:
stats.f_oneway(a, b, c)

F_onewayResult(statistic=2886.166657438961, pvalue=0.0)

In [67]:
# Statistically significant differences between groups

In [66]:
pg.pairwise_tukey(data=groups, dv="events", between="group")

   A  B  mean(A)  mean(B)     diff        se          T  p-tukey    hedges
0  A  B  29.5796  37.6136  -8.0340  0.140894 -57.021604      0.0 -0.806229
1  A  C  29.5796  27.4703   2.1093  0.140894  14.970833      0.0  0.210514
2  B  C  37.6136  27.4703  10.1433  0.140894  71.992436      0.0  1.024138

In [71]:
print(pairwise_tukeyhsd(groups.events, groups.group).summary())

Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj  lower    upper  reject
----------------------------------------------------
     A      B    8.034   0.0   7.7038  8.3642   True
     A      C  -2.1093   0.0  -2.4395 -1.7791   True
     B      C -10.1433   0.0 -10.4735 -9.8131   True
----------------------------------------------------

In [72]:
MultiComp = MultiComparison(groups.events, groups.group)
print(MultiComp.tukeyhsd().summary())

Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj  lower    upper  reject
----------------------------------------------------
     A      B    8.034   0.0   7.7038  8.3642   True
     A      C  -2.1093   0.0  -2.4395 -1.7791   True
     B      C -10.1433   0.0 -10.4735 -9.8131   True
----------------------------------------------------

In [73]:
# A and C are not significantly different. But B differes from A and from C then B affects the most.
# --------------------------------